/* GERAIS */


/* IDS */
#sobrenome{
    color: darkred;
}
#home{
    height: 700px;
}
#home h5{
    color: darkred;
}

#home h1{
    text-transform: uppercase;
    font-size: 80px;
}

#home a{
    color: darkred;
}

#linkList a{
    color: black;
}
#linkList a:hover{
    color: darkred;
    text-decoration: underline;
}

#portifolio img{
    width: 30%;
    height: 100%;

}

#projeto1{
min-height: 300px;

padding-top: 5px;
display: none;

}
#StreamersPB img{
  width: 600px;
  height: 300px;
}

#rodape{
  background-color: rgb(65, 6, 6);
  color: white;
  padding-top: 50px;
}
/* CLASSES */
.projt1{
  background-image: url("/img/banner1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
}

.projt2{
  background-image: url("/img/banner2.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width:100%;
}


.skill1{
  background-image: url("/img/html-5.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  height: 200px;
}
.skill2{
  background-image: url("/img/css-3.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  height: 200px;
}
.skill3{
  background-image: url("/img/bootstrap.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  height: 200px;
}
.skill4{
  background-image: url("/img/js.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  height: 200px;
}
.skill5{
  background-image: url("/img/linux.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  height: 200px;
}
.skill6{
  background-image: url("/img/github.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  height: 200px;
}

.parallax1{
    background-image: url("/img/paralax1.jpg");
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.parallax2{
    background-image: url("/img/paralax2.jpg");
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.list-group a{
    border: none;  
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }

div.gallery {
    margin: 10px;
    border-radius: 10%;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 12px;
  }



  @media screen and (max-width: 580px) and (min-width: 480px){
    #StreamersPB img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      height: 300px;
    }
    div.gallery {
      margin-left: 85px;
      border-radius: 10%;
      border: 1px solid #ccc;
      
      width: 150px;
    }

    
  }
  /*@media(max-width: 450px){
    #StreamersPB img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      height: 300px;
    }
    div.gallery {
      margin-left: -985px;
      border-radius: 10%;
      border: 1px solid #ccc;
      width: 120px;
    }
<<<<<<< HEAD
  }*/
=======
  }*/
>>>>>>> ca9daced040ed12b276ddfadbb5dfc6037a93de0
